:root {
  /* Mode Terang */
  --bg-header: #ffffff;
  --text-main: #1e293b;
  --accent-color: #2563eb;
  --toggle-hover: #f1f5f9;
  --icon-color: #f59e0b; /* Kuning Matahari */
  
  /* Ukuran */
  --header-height: 70px;
  --container-padding: 0 2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-header);
  transition: background-color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

/* dark color */
.dark-mode {
  /* Mode Gelap */
  --bg-header: #0f172a;
  --text-main: #f8fafc;
  --accent-color: #38bdf8;
  --toggle-hover: #1e293b;
  --icon-color: #38bdf8; /* Biru Bulan */
}
